config*.xml
*.cache
*.swp
tags
uploads/*
mails/de/opartdevis_admin.txt
mails/de/opartdevis_admin.html
mails/de/opartdevis_customer.html
mails/de/opartdevis_customer.txt
mails/de/relance.html
mails/de/relance.txt
mails/de/request_quotation_admin.html
mails/de/request_quotation_admin.txt
mails/de/request_quotation_customer.html
mails/de/request_quotation_customer.txt
mails/es/opartdevis_admin.html
mails/es/opartdevis_admin.txt
mails/es/opartdevis_customer.html
mails/es/opartdevis_customer.txt
mails/es/relance.html
mails/es/relance.txt
mails/es/request_quotation_admin.html
mails/es/request_quotation_admin.txt
mails/es/request_quotation_customer.html
mails/es/request_quotation_customer.txt
mails/nl/opartdevis_admin.html
mails/nl/opartdevis_admin.txt
mails/nl/opartdevis_customer.html
mails/nl/opartdevis_customer.txt
mails/nl/relance.html
mails/nl/relance.txt
mails/nl/request_quotation_admin.html
mails/nl/request_quotation_admin.txt
mails/nl/request_quotation_customer.html
mails/nl/request_quotation_customer.txt
translations/es.php
translations/fi.php
translations/nl.php
upgrade/upgrade-4.11.08.php
upgrade/upgrade-4.11.09.php
upgrade/upgrade-4.11.10.php
upgrade/upgrade-4.12.02.php
upgrade/upgrade-4.13.12.php
upgrade/upgrade-4.14.01.php
upgrade/upgrade-4.14.07.php
upgrade/upgrade-411.08.php
